*{
    padding: 0
    margin:0;
    text-decoration: 0;
     
}
body{
     background-color: azure;
}
  
header{
     border: 1px sandybrown;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 90px;
     width: 800px;
}
header img{
    width: 90px;  
}
 
nav{
    display: flex;
    gap: 15px;
}
section img {
     width: 550px;
}
